#jinja2: trim_blocks: "true", lstrip_blocks: "true"
{% for network in sg_networks %}
        {% if network.services and 'pxeboot' in network.services %}
                {% set interface = sg_interfaces|selectattr('name', 'equalto', network.attach_to)|first %}
                {% set filter_interface = interface.name %}
                {% if interface.carpdev is defined %}
                        {# OpenBSD recommends only filtering on the real interface #}
                        {% set filter_interface = interface.carpdev %}
                {% endif %}
# The router will accept PXE (tftp/http) on this network.
pass in on {{ filter_interface }} inet proto tcp to {{ interface.address | ipaddr('address') }} port www
anchor "tftp-proxy/*"
pass in on {{ filter_interface }} inet proto udp from any to port tftp divert-to 127.0.0.1 port 6969
pass out on {{ filter_interface }} inet proto udp from {{ interface.address | ipaddr('address') }} to port tftp divert-reply
        {% endif %}
{% endfor %}
{# The following blank line seperates multiple networks #}
